@charset "UTF-8";

.fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    transition: transform 0.2s; /* Animation */
}

.fa:hover {
    transform: scale(1.4); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}


.fa-instagram {
    background: #940068;
    color: white;
}

#logo {
    width: 100%;
}

#titulo {
    font-size: 8vw;
}

body {
    background-color: rgb(255, 167, 126);
}

#fondo-cards {
    background-color: rgb(245, 185, 157);
}

header {
    background-color: rgb(253, 113, 48);
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}   
.navbar-bg{
    background-color: rgb(173, 67, 18);
}

#navh3id{
    color: azure;
}


/* ancho menor a 992px */
@media (max-width: 992px) {
    #container-menu-superior{
        display: none;
    }
}
/* ancho mayor a 992px */
@media (min-width: 992px) {
    #container-menu-lateral{
        display: none;
    }
}


/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.4s; /* 0.4 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav .sidenav-a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 30px;
    text-align: center;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}
.sidenav .sidenav-span {
    margin-top: 60px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 40px;
    text-align: center;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    color: white;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.menu-item-fx:hover{
    background-color: rgba(0, 0, 0, 0.192);
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}